@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
       url("../fonts/Inter-Black.woff") format("woff");
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 984px;
  margin: 0 auto;
}

.page__common {
  margin-bottom: 92px;
}


.header {
  padding-top: 28px;
}

.header__container {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding: 0 16px;
}

.header__logo {
  max-width: 176px;
}

.header__lang-links {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
  text-align: right;
  margin-right: 18px;
}

.header__lang-link:last-child {
  margin: 0;
}

.header__lang-link_type_inactive {
text-decoration: none;
}


.lead {
  display: flex;
  flex-direction: column;
}

.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-top: 56px;
}

.lead__subtitle {
  padding-top: 32px;
  margin: 0 auto;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  max-width: 984px;
  padding-top: 64px;
}

.lead__caption {
  padding-top: 8px;
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
}

.indent {
  margin: 0 auto;
  max-width: 1184px;
}

.indent_place_intro {
  max-width: 984px;
}

.intro__container {
  max-width: 690px;
  margin-left: 0;
}



.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  text-align: left;
}

.intro__text {
  padding: 40px 0 33px 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.63;
}

.intro__lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list_size_s {
  font-weight: 400;
}

.photo-grid__container {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  justify-items: center;
}

.grid__item {
  max-width: 284px;
}

.place__container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.place__container_type_indent {
  padding-bottom: 92px;
}

.place__title {
  margin: 0;
  width: 460px;
  padding: 0 40px 48px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
}

.place__image {
  width: 460px;
  padding-right: 40px;
}

.place__website {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-end;
  padding-bottom: 48px;
  width: 456px;
  margin: 0;
}

.place__url-heading {
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__link {
  font-size: 18px;
  line-height: 1.23;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraphs {
  max-width: 484px;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph + .place__paragraph {
  padding-top: 26px;
}


.cover {
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cover::before  {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
}

.cover:hover::before {
  opacity: 0.3;
}

.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  text-decoration: none;
}

.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  padding-top: 32px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  position: relative;
  z-index: 2;
}

.footer__container {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin: 0 auto 24px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 1.13;
}

.footer__nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.13;
  padding: 0;
  margin-right: 18px;
}

.footer__link_type_opacity:hover {
  opacity: 0.8;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}
