@media (max-width:1235px) {
  .photo-grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }

  .grid__item {
    max-width: 300px;
    min-width: 300px;
  }
}

@media (max-width: 1040px) {
  .container {
    max-width: 928px;
  }
  .lead__title {
    padding-top: 48px;
  }

  .lead__image {
    max-width: 928px;
    padding-top: 56px;
  }

  .intro__container {
    max-width: 690px;
  }

  .place__title {
    max-width: 440px;
    min-width: 440px;
    padding-right: 32px;
  }

  .place__image {
    padding-right: 32px;
    max-width: 440px;
    min-width: 440px;
  }

  .place__paragraphs {
    max-width: 456px;
  }

  .place__paragraph + .place__paragraph {
    padding-top: 27px;
  }

}

@media (max-width: 977px) {
  .container {
    max-width: 720px;
  }

  .page__common {
    margin-bottom: 88px;
  }
  .lead {
    max-width: 768px;
  }
  .lead__image {
    max-width: 768px;
  }

  .intro__container {
    max-width: 720px;
  }


  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }

  .grid__item {
    max-width: 352px;
    min-width: 352px;
  }

  .place__title {
    max-width: 340px;
    min-width: 340px;
    padding-right: 28px;
    font-size: 42px;
    line-height: 1.1;
  }

  .place__image {
    padding-right: 28px;
    max-width: 340px;
    min-width: 340px;
    max-height: 340px;
  }

  .place__website {
    width: 352px;
  }

  .place__paragraphs {
    max-width: 352px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph + .place__paragraph {
    padding-top: 25px;
}

.cover {
  min-height: 480px;
}
}

@media (max-width: 767px) {

}
